<div class="cnt-princ">
  <div class="cnt-sec">
    <div>
      <img src="../../../assets/img/blue_logo.png" class="img-logo-blue" />
    </div>
    <h1 class="title">Generá una nueva contraseña</h1>
    <p class="text">Ingresá tu correo electrónico:</p>
  </div>

  <div class="reset-password-wrapper">
    <div>
      <div class="card-body">
        <form id="email">
          <div>
            <input type="email" class="form-control" placeholder="Correo electrónico" name="correo" />
          </div>
          <button routerLink="/confirm-password" class="cnt-btn" type="submit">Continuar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="cnt-ingresa">
    <p class="text-cuenta">¿No tenés una cuenta?</p>
    <a routerLink="/registro-usuario" class="text-link">Creá una aquí</a>
  </div>
</div>
