<div class="cnt-princ">
  <div class="cnt-sec">
    <div>
      <img src="../../../assets/img/blue_logo.png" class="img-logo-blue" />
    </div>
    <h1 class="title">Cambio de contraseña</h1>
  </div>

  <div class="confirm-password-wrapper">
    <div>
      <div class="card-body">
        <form id="password">
          <div>
            <input type="password" class="form-control" placeholder="Contraseña" name="password" />
          </div>
          <div>
            <input type="confirm-password" class="form-control" placeholder="Confirmar contraseña" name="confirm-password" />
          </div>
          <p>Ingresá el código de verificación que te enviamos a tu correo electrónico:</p>
          <div>
            <input type="token" class="form-control" placeholder="Código de verificación" name="token" />
          </div>
          <button routerLink="/login" class="cnt-btn" type="submit">Ingresar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="cnt-ingresa">
    <p class="text-cuenta">¿No te llegó el código?</p>
    <a routerLink="/registro-usuario" class="text-link">Enviar otra vez</a>
  </div>
</div>
